# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.pyo

# ===============================
# DJANGO
# ===============================
*.log
local_settings.py
db.sqlite3

# ===============================
# ENTORNOS / VARIABLES
# ===============================
.env
.env.*
.env.local

# ===============================
# VIRTUAL ENV
# ===============================
venv/
env/
.venv/

# ===============================
# STATIC & MEDIA (producción)
# ===============================
staticfiles/
media/

# ===============================
# MIGRATIONS
# ===============================
*/migrations/__pycache__/

# ⚠️ NO ignores migrations reales
# */migrations/*.py

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===============================
# SISTEMA
# ===============================
.DS_Store
Thumbs.db

# ===============================
# BACKUPS
# ===============================
*.bak
*.sql
*.dump

# ===============================
# TESTING / CACHE
# ===============================
.pytest_cache/
.cache/
