/* css-circular-prog-bar.css */

.circular-progress {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(
        #4caf50 calc(var(--progress) * 1%),
        #e0e0e0 0
    );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circular-progress::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.circular-progress span {
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 2;
}
